<div class="SC-Review" id="{{ content_block.identifier }}">
  <div class="sc-flex sc-gap-tiny sc-pt-large">
    {%- render "shared/icons/five_stars" %}
  </div>
  {% if content_block.title != blank %}
    <h3 class="sc-font-base sc-font-secondary sc-font-italic sc-mt-medium">{{ content_block.title }}</h3>
  {% endif %}
  {% if content_block.subtitle != blank %}
    <p class="sc-font-secondary sc-font-italic">{{ content_block.subtitle }}</p>
  {% endif %}
  {% if content_block.pull_text != blank %}
    <p class="sc-font-tiny sc-font-bold sc-uppercase">{{ content_block.pull_text | strip_html }}</p>
  {% endif %}
</div>